<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite F.C</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
    <header style="background-color: #0000FF; color: #FFFFFF;">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'socio_torcedor' %}">Sócio Torcedor</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form id="logout-form" action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn-logout">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn-login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
